
form .input input,
form .input textarea,
form .input select,
form .input label { display: block; }

form .input label { font-weight: bold; }

form .input input:focus,
form .input textarea:focus { border-color: orange; }
form .input input:focus + .error,
form .input textarea:focus + .error { display: none; }

form {margin: 0 auto; width: 80%;}
form .input input,
form .input textarea {border: 1px solid #D0D0D0; box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.1);}

form .input input,
form .input textarea {
  box-sizing: border-box;
  width: 50%;
  height: 3em;
  outline: none;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:0.8rem;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  transition:all 0.1s linear;
}

form .input textarea { height: 10em; padding: 0.5em;}

form.compact {padding: 1em 0 3em 0;}
form.compact h3 {padding-bottom: 1em;}

form .input input:focus,
form .input textarea:focus{border-color: #358efb;}

form .input {overflow: hidden;}
form .input label {float: left; width: 30%; text-align: right; margin-right: 3%; padding-top: 0.5em;}

form .button { display: block; border: none; padding: 0.5em 1em; background: #0077A5; color: #fff; 
	cursor: pointer; border: 1px solid #006288; border-radius: 2px; margin-bottom: 1em; box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24); }
form .button:hover { background: #115771; }

form .buttons { overflow: hidden; }
form .buttons .button { float: left; margin-right: 1em; margin-bottom: 0; }

form.compact .buttons { clear: both; padding-left: 33%; }

form.compact .checkbox {padding-left: 33%; margin-bottom: 0.5em;}
form .new-user {padding-left: 33%; margin-bottom: 0.5em; padding-top: 0.5em;}
form .new-user a {color: #000000;}
form .new-user a:hover {text-shadow: 0px 1px 1px #006288;}

input[type="checkbox"] {
  margin: 4px 3px 3px 4px;
}

