@model Blog.Models.Category
@{
    ViewBag.Title = "Delete Category";
}

<div class="content">
    <div class="inner">
        @using (Html.BeginForm("Delete", "Category", FormMethod.Post, new { @class = "compact" }))
        {
            <h3>@ViewBag.Title</h3>
            <p class="input">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @readonly = "readonly" })
            </p>

            <div class="buttons">
                @Html.ActionLink("Cancel", "List", "Category", new { @class = "button" })
                <input type="submit" value="Delete" class="button" />
            </div>
        }
    </div>
</div>