@model Blog.Models.Category

@{
    ViewBag.Title = "Edit Category";
}

<div class="content">
    <div class="inner">
        @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "compact" }))
        {

            <h3>@ViewBag.Title</h3>
            <p class="input">
                @Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-4" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </p>

            <div class="buttons">
                @Html.ActionLink("Cancel", "List", "Category", new { @class = "button" })
                <input type="submit" value="Edit" class="button" />
            </div>
        }
    </div>
</div>