<!-- About Section -->
    <div id="about" class="about" >
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">About Us</h2>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->
            <!-- People -->
            <div class="row">
                <!-- Start Profile -->
                <div class="span4 profile">
                    <div class="image-wrap">
                        <div class="hover-wrap">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">Design</span>
                        </div>
                        <img src="/Content/Images/1.jpg" alt="Pavlin Nedelchev">
                    </div>
                    <h3 class="profile-name">Pavlin Nedelchev</h3>
                    <p class="profile-description"> Description</p>

                    <div class="social">
                        <ul class="social-icons">
                            <li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Profile -->
                <!-- Start Profile -->
                <div class="span4 profile">
                    <div class="image-wrap">
                        <div class="hover-wrap">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">Design</span>
                        </div>
                        <img src="/Content/Images/1.jpg" alt="Zlatyo Uzunov">
                    </div>
                    <h3 class="profile-name">Zlatyo Uzunov</h3>
                    <p class="profile-description"> Description</p>

                    <div class="social">
                        <ul class="social-icons">
                            <li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Profile -->
                <!-- Start Profile -->
                <div class="span4 profile">
                    <div class="image-wrap">
                        <div class="hover-wrap">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">Design</span>
                        </div>
                        <img src="/Content/Images/1.jpg" alt="Dimitar Mihailov">
                    </div>
                    <h3 class="profile-name">Dimitar Mihailov</h3>
                    <p class="profile-description"> Description</p>

                    <div class="social">
                        <ul class="social-icons">
                            <li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Profile -->
                <!-- Start Profile -->
                <div class="span4 profile">
                    <div class="image-wrap">
                        <div class="hover-wrap">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">Design</span>
                        </div>
                        <img src="/Content/Images/1.jpg" alt="Yulia Karaliyska">
                    </div>
                    <h3 class="profile-name">Yulia Karaliyska</h3>
                    <p class="profile-description"> Description</p>

                    <div class="social">
                        <ul class="social-icons">
                            <li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Profile -->
                <!-- Start Profile -->
                <div class="span4 profile">
                    <div class="image-wrap">
                        <div class="hover-wrap">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">Design</span>
                        </div>
                        <img src="/Content/Images/1.jpg" alt="Ivanka Karageorgieva">
                    </div>
                    <h3 class="profile-name">Ivanka Karageorgieva</h3>
                    <p class="profile-description"> Description</p>

                    <div class="social">
                        <ul class="social-icons">
                            <li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Profile -->
                <!-- End People -->
            </div>
        </div>
    </div>
    <!-- End About Section -->
    <!-- Js -->
    <script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
    <script src="_include/js/main.js"></script> <!-- Default JS -->
