@using Blog.Models
@{
    ViewBag.Title = "Index";


}

<div class="content">
    <div class="inner">
        @foreach (var admin in ViewBag.Admins)
            {
            <article>
                <header>
                    <h2>
                        @admin
                    </h2>
                </header>
                <p>User presentation goes here</p>
            </article>

                }
</div>
</div>


