@using Blog.Models

<div class="categories-nav">
    <header>Categories</header>
    <ul>
        @foreach (var recipeCategory in RecipeCategory)
        {
            <li>
                @recipeCategory.
            </li>
        }
    </ul>
</div>
