@{
    ViewBag.Title = "Index";
}
<header>CONTACT US</header>

<form id="formContact" class="topBeforeContact">

    <input id="nameContact" type="text" placeholder="NAME">
    <input id="emailContact" type="text" placeholder="E-MAIL">
    <textarea id="messageContact" type="text" placeholder="MESSAGE"></textarea>
    <input id="submitContact" type="submit" value="SUBMIT!">
</form>

