@using Blog.Models
@model LoginViewModel
@{
    ViewBag.Title = "Index";
}
<div class="content">
    <div class="inner">
        <header class="contact-header">CONTACT US</header>

            <form id="formContact" class="topBeforeContact">

                <input id="nameContact" class="contact" type="text" placeholder="NAME">
                <input id="emailContact" class="contact" type="text" placeholder="E-MAIL">
                <textarea id="messageContact" class="contact" type="text" placeholder="MESSAGE"></textarea>
                <input id="submitContact" class="contact" type="submit" value="SUBMIT!">
            </form>
    </div>
</div>

